---
import styles from "./EstadisticasSection.module.css";
import StatsHeroLocked from "./StatsHeroLocked.astro";
import UnlockBenefitsPanel from "./UnlockBenefitsPanel.astro";
import UnlockedBanner from "./UnlockedBanner.astro";
import LockedPreviewPanel from "./LockedPreviewPanel.astro";
import AntiCopyNotice from "./AntiCopyNotice.astro";
import StatsDashboard from "./StatsDashboard.astro";

import { TOTAL_PREDICTIONS } from "./estadisticas.logic";
import type { ProgressSnapshot } from "./estadisticas.logic";
import predictionsData from "../../data/predictions.json";

const initialSnapshot: ProgressSnapshot = {
  completed: 0,
  total: TOTAL_PREDICTIONS,
  percent: 0,
  state: "locked",
};

const clientPayload = {
  totalPredictions: TOTAL_PREDICTIONS,
  targetRoute: "/predicciones",
  datasetUrl: "/data/community-predictions.json",
  confirmedCards: predictionsData.confirmedCards,
  expectedPlayers: predictionsData.expectedPlayers,
  confirmedPlayerIds: predictionsData.submissions.map(
    (submission) => submission.playerId
  ),
};
---

<section
  class={styles.estadisticasSection}
  id="estadisticas"
  data-section="estadisticas"
  data-state={initialSnapshot.state}
>
  <div class={styles.contentShell}>
    <UnlockedBanner />

    <div data-locked-content>
      <StatsHeroLocked
        snapshot={initialSnapshot}
        confirmedCards={predictionsData.confirmedCards}
        expectedPlayers={predictionsData.expectedPlayers}
      />

      <UnlockBenefitsPanel />

      <LockedPreviewPanel />

      <AntiCopyNotice />
    </div>

    <StatsDashboard
      confirmedCards={predictionsData.confirmedCards}
      expectedPlayers={predictionsData.expectedPlayers}
    />
  </div>

  <script type="application/json" data-estadisticas-payload set:html={JSON.stringify(clientPayload)} />
  <script>
    import "./estadisticas.client.js";
  </script>
</section>
